
.hovereditem:hover{
    color: #ff8a00 !important;
}
.icon{
    transition: 0.5s;
}
.icon:hover{
    transform: scale(1.15);
}
.card01, .card02, .card03, .card04, .card05, .card06, .card07, .card08, .card09, .card10, .card11, .card12, .card13, .card14, .card15, .card16, .card17, .card18, .card19, .card20, .card21, .card22, .card23, .card24, .card25, .card26, .card27, .card28, .card29, .card30, .card31, .card32, .card33, .card34, .card35, .card36, .card37, .card38, .card39, .card40, .card41, .card42, .card43, .card44, .card45, .card46, .card47, .card48, .card49, .card50, .card51, .card52, .card53, .card54, .card55, .card56, .card57, .card58, .card59, .card60, .card61, .card62, .card63, .card64, .card65, .card66, .card67, .card68, .card69, .card70, .card71, .card72, .card73, .card74, .card75, .card76, .card77, .card78, .card79, .card80 { 
    width: 90% ;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.25);
    
}

.card-texts{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: justify;
}

.card-titles{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.NavBarItem{
    margin: 0% 0% 0% 0%;
    float: right;
}
.hovereditem{
    margin: 0% 0% 0% 0%;

}
.Slider_01, .Slider_02, .Slider_03 .Slider_04, .Slider_05, .Slider_06, .Slider_07, .Slider_08, .Slider_09, .Slider_10, .Slider_11, .Slider_12, .Slider_13, .Slider_14, .Slider_15, .Slider_16, .Slider_17, .Slider_18, .Slider_19, .Slider_20, .Slider_21, .Slider_22 {
    max-width: 100%;
}


.gomb{
    border-radius: 100px;
    max-width: 25%;
    transition: 00.5s;
}
.card01-image, .card02-image , .card03-image, .card04-image, .card05-image, .card06-image, .card07-image, .card08-image, .card09-image, .card10-image, .card11-image, .card12-image, .card13-image, .card14-image , .card15-image,  .card16-image,  .card17-image,  .card18-image,  .card19-image ,  .card20-image , .card21-image, .card22-image, .card23-image, .card24-image, .card25-image, .card26-image, .card27-image, .card28-image, .card29-image, .card30-image, .card31-image, .card32-image, .card33-image, .card34-image, .card35-image, .card36-image, .card37-image, .card38-image, .card39-image, .card40-image, .card41-image, .card42-image, .card43-image, .card44-image, .card45-image, .card46-image, .card47-image, .card48-image, .card49-image, .card50-image, .card51-image, .card52-image, .card53-image, .card54-image, .card55-iamge, .card56-image, .card57-image, .card58-image, .card59-image, .card60-image, .card61-image, .card62-image,.card63-image, .card64-image, .card65-image, .card66-image, .card67-image, .card68-image, .card69-image, .card70-image, .card71-image, .card72-image, .card73-image, .card74-image, .card75-image, .card76-image, .card77-image, .card78-image, .card79-image, .card80-image {
    height: auto;
    transition: 0.5s;
}
.content{
    text-align: justify;
}
.card01-image:hover, .card02-image:hover, .card03-image:hover ,.card04-image:hover, .card05-image:hover, .card06-image:hover, .card07-image:hover, .card08-image:hover, .card09-image:hover, .card10-image:hover, .card11-image:hover, .card12-image:hover, .card13-image:hover, .card14-image:hover, .card15-image:hover, .card16-image:hover, .card17-image:hover, .card18-image:hover, .card19-image:hover, .card20-image:hover, .card21-image:hover, .card22-image:hover, .card23-image:hover, .card24-image:hover, .card25-image:hover, .card26-image:hover, .card27-image:hover, .card28-image:hover, .card29-image:hover, .card30-image:hover, .card31-image:hover, .card32-image:hover, .card33-image:hover, .card34-image:hover, .card35-image:hover, .card36-image:hover, .card37-image:hover, .card38-image:hover, .card45-image:hover, .card46-image:hover, .card47-image:hover, .card48-image:hover, .card49-image:hover, .card50-image:hover, .card51-image:hover, .card52-image:hover, .card53-image:hover, .card54-image:hover, .card55-image:hover, .card56-image:hover, .card57-image:hover, .card58-image:hover, .card59-image:hover , .card60-image:hover, .card61-image:hover, .card62-image:hover, .card63-image:hover, .card64-image:hover, .card65-image:hover, .card66-image:hover, .card67-image:hover, .card68-image:hover{
    transform: scale(1.05);
}
.card01-body, .card02-body, .card03-body, .card04-body, .card05-body, .card06-body, .card07-body, .card08-body, .card09-body, .card10-body , .card11-body, .card12-body, .card13-body, .card14-body, .card15-body, .card16-body, .card17-body, .card18-body, .card19-body, .card20-body, .card21-body, .card22-body, .card23-body, .card24-body, .card25-body, .card26-body, .card27-body, .card28-body, .card29-body, .card30-body, .card31-body, .card32-body, .card33-body, .card34-body, .card35-body, .card36-body, .card37-body, .card38-body, .card39-body, .card40-body, .card41-body, .card42-body, .card43-body, .card44-body, .card45-body, .card46-body, .card47-body, .card48-body, .card49-body, .card50-body, .card51-body, .card52-body, .card53-body, .card54-body, .card55-body, .card56-body, .card57-body, .card58-body, .card59-body, .card60-body, .card61-body, .card62-body, .card63-body, .card64-body, .card65-body, .card66-body, .card67-body, .card68-body, .card69-body, .card70-body, .card71-body, .card72-body, .card73-body, .card74-body, .card75-body, .card76-body, .card77-body, .card78-body, .card79-body, .card80-body {
    transition: 00.5s;
}
.card01-body:hover, .card02-body:hover, .card03-body:hover, .card04-body:hover, .card05-body:hover, .card06-body:hover, .card07-body:hover, .card08-body:hover, .card09-body:hover, .card10-body:hover , .card11-body:hover, .card12-body:hover, .card13-body:hover, .card14-body:hover, .card15-body:hover, .card16-body:hover, .card17-body:hover, .card18-body:hover, .card19-body:hover, .card20-body:hover, .card21-body:hover, .card22-body:hover, .card23-body:hover, .card24-body:hover, .card25-body:hover, .card26-body:hover, .card27-body:hover, .card28-body:hover, .card29-body:hover, .card30-body:hover, .card31-body:hover, .card32-body:hover, .card33-body:hover, .card34-body:hover, .card35-body:hover, .card36-body:hover, .card37-body:hover, .card38-body:hover, .card39-body:hover, .card40-body:hover, .card41-body:hover, .card42-body:hover, .card43-body:hover, .card44-body:hover, .card45-body:hover, .card46-body:hover, .card47-body:hover, .card48-body:hover , .card49-body:hover,.card50-body:hover, .card51-body:hover, .card52-body:hover, .card53-body:hover, .card54-body:hover, .card55-body:hover, .card56-body:hover, .card57-body:hover, .card58-body:hover, .card59-body:hover, .card60-body:hover, .card61-body:hover, .card62-body:hover, .card63-body:hover, .card64-body:hover, .card65-body:hover, .card66-body:hover, .card67-body:hover, .card68-body:hover, .card69-body:hover, .card70-body:hover, .card71-body:hover, .card72-body:hover, .card73-body:hover, .card74-body:hover, .card75-body:hover, .card76-body:hover, .card77-body:hover, .card78-body:hover, .card79-body:hover, .card80-body:hover {
    transform: scale(1.05);
}
.gomb:hover{
    transform: scale(1.05);
}

@media screen and (max-width:360px) {
    .card02-text, .szoveg01,.card03-text , .card04-text, .card05-text, .card06-text, .card07-text, .card08-text, .card09-text, .card10-text, .card11-text, .card12-text, .card13-text, .card14-text, .card15-text, .card16-text, .card17-text, .card18-text, .card19-text, .card20-text, .card21-text, .card22-text, .card23-text, .card24-text, .card25-text, .card26-text, .card27-text, .card28-text, .card29-text, .card30-text, .card31-text, .card32-text, .card33-text, .card34-text, .card35-text, .card36-text, .card37-text, .card38-text, .card39-text, .card40-text, .card41-text, .card42-text, .card43-text, .card44-text, .card45-text, .card46-text, .card47-text, .card48-text, .card49-text, .card50-text, .card51-text, .card52-text, .card53-text, .card54-text, .card55-text, .card56-text, .card57-text, .card58-text, .card59-text, .card60-text, .card61-text, .card62-text, .card63-text, .card64-text, .card65-text, .card66-text, .card67-text, .card68-text, .card69-text, .card70-text, .card71-text, .card72-text, .card73-text, .card74-text, .card75-text, .card76-text, .card77-text, .card78-text, .card79-text, .card80-text{
        font-size: 100% !important;
    }

}

@media screen and (min-width:360px) {
    .szoveg01, .responsive-text{
        font-size: 60%;
    }
    .card01-image{
        margin: 0%;
        margin:auto;
        padding: 0%;
        max-width: 100%;
    }
    .gomb02{
        max-width: 100%;
        height: auto;
        padding-right: 15%;
        padding-left: 15%;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .gomb01{
        max-width: 100%;
        padding-left: 20%;
        height: auto;
        padding-right: 20%;
        margin-top: 5%;
        margin-bottom: 10%;
        
    }

    
    
}

@media screen and (max-width:768px) {
    .szoveg01, .responsive-text{
        font-size: 80%;
    }
    
    .card01-image{
        margin: auto;
        max-width: 100%;
    }
    .gomb02{
        max-width: 100%;
        height: auto;
        padding-right: 15%;
        padding-left: 15%;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .gomb01{
        max-width: 100%;
        padding-left: 20%;
        height: auto;
        padding-right: 20%;
        margin-top: 5%;
        margin-bottom: 10%;
        
    }
}

@media screen and (max-width:992px) {
    .szoveg01, .responsive-text{
        font-size: 140%;
    }
    
    .card01-image{
        max-width: 190%;
        margin:0%;
    }
    .gomb02{
        max-width: 100%;
        height: auto;
        padding-right: 15%;
        padding-left: 15%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .gomb01{
        max-width: 100%;
        padding-left: 20%;
        height: auto;
        padding-right: 20%;
        margin-top: auto;
        margin-bottom: auto;
        
    }
}
@media screen and (min-width:992px) {
    .szoveg01 ,.responsive-text{
        font-size: 180%;
    }
    
    .card01-image{
        max-width: 200%;
        
    }

    .gomb02{
        max-width: 100%;
        height: auto;
        padding-right: 15%;
        padding-left: 15%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .gomb01{
        max-width: 100%;
        padding-left: 20%;
        height: auto;
        padding-right: 20%;
        margin-top: auto;
        margin-bottom: auto;
        
    }
    .card02-image{
        width: 100%;
    }

    .szoveg02{
        font-size: 200%;
    }


}

@media screen and (max-width:768px){
    .cardflip3{
        padding-bottom: 20%;
        
    }
}

.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   /* text-transform: capitalize; */
    transition:all .2s cubic-bezier(.34,1.12,.68,1.31);
}

.gallery{
    min-height: 100vh;
    background:#eee;
    padding-bottom: 100px;
}

.gallery .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:20px 0;
    list-style: none;
}

.gallery .controls .buttons{
    height:40px;
    width: 140px;
    background:#fff;
    color:#666;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    margin:20px;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    text-align: center;
}

.gallery .controls .buttons.active{
    background:coral;
    color:#fff;
}

.gallery .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .image-container .image{
    height:250px;
    width: 350px;
    overflow: hidden;
    border:15px solid #fff;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    margin: 20px;
}

.gallery .image-container .image img{
    height: 100%;
    width:100%;
    object-fit: cover;
}

.gallery .image-container .image:hover img{
    transform: scale(1.4);
}

.toast01{
    position: absolute;
    top: 20px;
    right:20px ;
}

h1, p, li, ul, ol{
    text-transform: none !important;
}


.link{
    text-decoration: none !important;
    color: black;
    font-weight: bolder;
    
}

.link:hover{
    color: #ff8a00;
}

#toast{
    z-index: 10 !important;
}

.tables{
    margin:auto;
    border: 2px solid black;
}

.tds{
    width: 10%;
    text-align: center; 
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%; 
    border: 1px solid black;
    transition: 00.05ms;
}

.trs:nth-child(1){
background-color:#007bff ;
color: white;
font-weight: bolder;
outline: #666;

}
.trs:nth-child(even){
    background-color:#cecaca;
}

.tds:hover{
    transform: scale(1.1);
}
.trs:nth-child(1) .tds:hover{
    color: #ff8a00;
    
}  

  
.flip-card-container {
    width: 300px;
    height: 400px;
    perspective: 1000px;
  }
  .flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  .flip-card-container:hover .flip-card {
    transform: rotateY(180deg); /* <=>  rotateY(.5turn) */
  }
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 0.5rem; */
  }
  .flip-card-front {
    
    color: #fff;
  }
  .flip-card-back {
    
    color: #fff;
    transform: rotateY(180deg);
  }
  

  .flip-card-back p {
    text-align: center;
    margin: 1rem;
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
  .flip-card-back p span {
    display: block;
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    margin-top: 1.25rem;
  }

  .szereplok-card{
      margin-bottom: 20% !important;
      margin-top: 20% !important;
  }
